---
layout: template1
---

<table class="border" cellspacing="5">
{% for element_hash in site.data.map.preservation %}
{% assign element = element_hash[1] %}
  <tr>
    <th colspan="2"><h3 id="{{ element.label }}">{{ element.label }}</h3></th>
  </tr>
  <!-- <tr>
    <td>URI:</td>
    <td>
      <a href="{{ element.uri }}">{{ element.uri }}</a>
    </td>
  </tr> -->
  <!-- <tr>
    <td>Label:</td>
    <td>{{ element.label }}</td>
  </tr> -->
  <tr>
    <td>MAP:</td>
    <td>{{ element.namespace }}.{{ element.element }}</td>
  </tr>
  <!-- <tr>
    <td>Comment:</td>
    <td>{{ element.comment }}</td>
  </tr>
  {% if element.references %}
    <tr>
      <td>References:</td>
      <td>{{ element.references }}</td>
    </tr>
  {% endif %} -->
{% endfor %}
</table>
