---
layout: template1
---

<h1><img src="{{ site.avatar }}" alt="UH Logo"> Bayou City DAMS</h1>
<h2>Metadata Application Profile</h2>

<hr>
<p><b>DPTF:</b>
  {% for element_hash in site.data.dptf %}
  {% assign element = element_hash[1] %}
    {% if forloop.first == true %}
      <a href="#{{ element.label }}"> {{ element.label }} </a>
    {% else %}
      |<a href="#{{ element.label }}"> {{ element.label }} </a>
    {% endif %}
  {% endfor %}
</p>
<p><b>DAMSTF:</b>
  {% for element_hash in site.data.damstf %}
  {% assign element = element_hash[1] %}
    {% if forloop.first == true %}
      <a href="#{{ element.label }}"> {{ element.label }} </a>
    {% else %}
      |<a href="#{{ element.label }}"> {{ element.label }} </a>
    {% endif %}
  {% endfor %}
</p>
<hr>

<h3>DPTF</h3>
<p>Fields defined by the Digital Preservation Task Force</p>
<table class="border" cellspacing="0">
{% for element_hash in site.data.dptf %}
{% assign element = element_hash[1] %}
  <tr>
    <th colspan="2"><h4 id="{{ element.label }}">{{ element.label }}</h4></th>
  </tr>
  <tr>
    <td><b>Label</b></td>
    <td>{{ element.label }}</td>
  </tr>
  <tr>
    <td><b>Element</b></td>
    <td>{{ element.namespace }}.{{ element.element }}</td>
  </tr>
  <tr>
    <td><b>URI</b></td>
    <td>
      <a href="{{ element.uri }}">{{ element.uri }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Definition</b></td>
    <td>{{ element.definition }}</td>
  </tr>
{% endfor %}
</table>

<h3>DAMSTF</h3>
<p>Fields defined by the Digital Asset Management System Task Force</p>
<table class="border" cellspacing="0">
{% for element_hash in site.data.damstf %}
{% assign element = element_hash[1] %}
  <tr>
    <th colspan="2"><h4 id="{{ element.label }}">{{ element.label }}</h4></th>
  </tr>
  <tr>
    <td><b>Label</b></td>
    <td>{{ element.label }}</td>
  </tr>
  <tr>
    <td><b>Element</b></td>
    <td>{{ element.namespace }}.{{ element.element }}</td>
  </tr>
  <tr>
    <td><b>URI</b></td>
    <td>
      <a href="{{ element.uri }}">{{ element.uri }}</a>
    </td>
  </tr>
  <tr>
    <td><b>Definition</b></td>
    <td>{{ element.definition }}</td>
  </tr>
{% endfor %}
</table>
