<div vocab="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdfs: http://www.w3.org/2000/01/rdf-schema#" prefix="skos: http://www.w3.org/2004/02/skos/core#" resource="#{{ element.name }}" typeof="Property">
<a name="{{ element.name }}"></a>
<tr>
	<th colspan="2">
		<h4>{{ element.label }}</h4>
	</th>
</tr>
<tr>
	<td><b>Label</b></td>
	<td property="rdfs:label">{{ element.label }}</td>
</tr>
<tr>
	<td><b>Element</b></td>
	<td>{{ element.namespace }}.{{ element.name }}</td>
</tr>
<tr>
	<td><b>URI</b></td>
	<td>
		<a property="skos:exactMatch" href="{{ element.uri }}">{{ element.uri }}</a>
	</td>
</tr>
<tr>
	<td><b>Same As</b></td>
	<td>
		<a property="skos:closeMatch" href="{{ element.same_as }}">{{ element.same_as }}</a>
	</td>
</tr>
<tr>
	<td><b>Definition</b></td>
	<td>{{ element.definition }}</td>
</tr>
{% if element.note %}
	<tr>
		<td><b>Note</b></td>
		<td property="skos:note">{{ element.note }}</td>
	</tr>
{% endif %}
{% if element.range_label %}
	{% if element.range_uri %}
		<tr>
			<td><b>Range</b></td>
			<td>
				<a href="{{ element.range_uri }}">{{ element.range_label }}</a>
			</td>
		</tr>
	{% else %}
		<tr>
			<td><b>Range</b></td>
			<td>{{ element.range_label }}</td>
		</tr>
	{% endif %}
{% endif %}
</div>
