<div about="{{ site.url }}#{{ element.name }}" prefix="rdfs: http://www.w3.org/2000/01/rdf-schema#" prefix="owl: http://www.w3.org/2002/07/owl#" typeof="http://www.w3.org/1999/02/22-rdf-syntax-ns#Property">
	<div property="rdfs:label" content="{{ element.label }}"></div>
	<div property="rdfs:comment" content="{{ element.definition }}"></div>
	<div property="owl:sameAs" content="{{ element.source }}"></div>
</div>
<thead>
	<tr>
		<th colspan="2">
			<a class="anchor" name="{{ element.name }}"></a>
			<h4>{{ element.label }}</h4>
		</th>
	</tr>
</thead>
<tr>
	<td><b>Label</b></td>
	<td>{{ element.label }}</td>
</tr>
<tr>
	<td><b>Element</b></td>
	<td>{{ element.namespace }}.{{ element.name }}</td>
</tr>
<tr>
	<td><b>URI</b></td>
	<td>
		<a href="{{ site.url }}#{{ element.name }}">{{ site.url }}#{{ element.name }}</a>
	</td>
</tr>
{% if element.source %}
<tr>
	<td><b>Same As</b></td>
	<td>
		<a href="{{ element.source }}">{{ element.source }}</a>
	</td>
</tr>
{% endif %}
<tr>
	<td><b>Definition</b></td>
	<td>{{ element.definition }}<br>
		<a href="{{ site.url }}/guidelines/{{ element.name }}">Input Guidelines</a>
	</td>
</tr>
<tr>
	<td><b>Obligation</b></td>
	<td>{% include obligation_label.md %}</td>
</tr>
<tr>
	<td><b>Range</b></td>
	<td>
	{% for r in element.range %}
		{% if r.uri %}
			<a href="{{ r.uri }}">{{ r.label }}</a>
		{% else %}
			{% if r.values %}
				{{ r.label }}</br>
				<ul>
				{% for value in r.values %}
					<li>{{ value }}</li>
				{% endfor %}
				</ul>
			{% else %}
				{{ r.label }}
			{% endif %}
		{% endif %}
	{% endfor %}
	</td>
</tr>
