/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* For Fixed Nav Bar */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}
.footerBox {
  padding-top: 15px;
  padding-bottom: 15px;
}

/**
 * Navbar
 */
.navbar-default {
  background-color: #c8102e;
  border-color: #CC102F;
}
.navbar-default .navbar-brand {
  color: #f0e6b1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ebdd93;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2f2f2;
  background-color: transparent;
}

/**
 * Footer
 */
.footer {
  background-color: #c8102e;
  border-color: #CC102F;
}
.footer .footerBox > p > a {
  color: #777;
}

/**
 * Tables
 */
table,
th,
td {
   border: 1px solid black;
   padding: 10px;
}

.floating-header thead th {
	position: sticky;
	position: -webkit-sticky;
  top: 50px;
  background-color: #e6e6e6;
	border: 1px solid black;
}

/* Title */
th:nth-child(3):after {
   padding-left: 200px;
   content: '\0010';
}

/* Creator */
th:nth-child(6):after {
   padding-left: 150px;
   content: '\0010';
}

/* Publisher */
th:nth-child(8):after {
   padding-left: 150px;
   content: '\0010';
}

/* Description */
th:nth-child(11):after {
   padding-left: 300px;
   content: '\0010';
}

/* Subject */
th:nth-child(12):after {
   padding-left: 200px;
   content: '\0010';
}

/* Genre */
th:nth-child(15):after {
   padding-left: 150px;
   content: '\0010';
}

/* Collection */
th:nth-child(19):after {
   padding-left: 300px;
   content: '\0010';
}

/* Identifier */
th:nth-child(20):after {
   padding-left: 150px;
   content: '\0010';
}

/* Rights */
th:nth-child(23):after {
   padding-left: 150px;
   content: '\0010';
}

/**
 * Anchor link offset
 */
a.anchor {
    display: block;
    position: relative;
    top: -62px;
    visibility: hidden;
}
